<div class='centered'>
     <div class="form">
         <h1>Add a new quote</h1>
         <%= render 'form' %>
     </div>
 </div>

 <!-- .centered
   .form
     %h1 Add a new quote #{render 'form'} -->
 <!-- when I try to change this to haml, it tweaks the css... -->
